/* Variables ================================== */

:root {
  /* COLORS */
  --dark1: #111111;
  --dark2: #555555;
  --dark3: #777777;
  --dark4: #999999;
  --light1: #ffffff;
  --light2: #eeeeee;
  --light3: #cccccc;
  --orange: #ff8139;
  --pink: #ff3998;
  --green: #39ffa0;
  --red: #ff3939;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  /* /COLORS */
}

/* Variables ================================== */

/* Global css ================================= */

body {
  font-family: "Inter", sans-serif;
}

/* /Global css ================================= */

/* Header ====================================== */

.top-header {
  margin-top: 70px;
}

.th__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-navbar {
  display: flex;
  gap: 30px;
  color: var(--dark2);
}

.tn__a {
  font-size: 20px;
  font-weight: 300;
  color: var();
}

.tn__a:last-child {
  color: var(--pink);
}

/* /Header ====================================== */

/* Hero ========================================= */

.hero {
  display: flex;
  align-items: center;
  padding-top: 70px;
}

.hero__subtitle {
  color: var(--pink);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1.5rem;
}

.hero__h1 {
  font-weight: 900;
  font-size: 6rem;
  margin-bottom: 0.33em;
  color: var(--dark1);
}

.hero__p {
  color: var(--dark2);
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
}

.btn {
  border: 4px solid var(--orange);
  border-radius: 100px;
  font-weight: 600;
  font-size: 20px;
  background-color: var(--light1);
  color: var(--dark1);
  padding: 1.1em 2.75em;
  margin-top: 1em;
}

.hero__img {
  width: 100%;
}

/* /Hero ======================================== */
