/* Variables ================================== */

:root {
  /* COLORS */
  --dark1: #111111;
  --dark2: #555555;
  --dark3: #777777;
  --dark4: #999999;
  --light1: #ffffff;
  --light2: #eeeeee;
  --light3: #cccccc;
  --orange: #ff8139;
  --pink: #ff3998;
  --green: #39ffa0;
  --red: #ff3939;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  /* /COLORS */
}

/* Variables ================================== */

/* Global css ================================= */

body {
  font-family: "Inter", sans-serif;
  /* LAIKINAI PADDINGAS BOT */
  padding-bottom: 3300px;
  /* /LAIKINAI PADDINGAS BOT */
}

/* /Global css ================================= */

/* Header ====================================== */

.top-header {
  margin-top: 70px;
  padding-bottom: 83px;
}

.th__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-navbar {
  display: flex;
  gap: 30px;
  color: var(--dark2);
}

.tn__a {
  font-size: 20px;
  font-weight: 300;
  color: var();
}

.tn__a:last-child {
  color: var(--pink);
}

/* /Header ====================================== */

/* Hero ========================================= */

.hero {
  display: flex;
  align-items: center;
  padding-bottom: 83px;
}

.hero__subtitle {
  color: var(--pink);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1.5rem;
}

.hero__heading {
  font-weight: 900;
  font-size: 6rem;
  margin-bottom: 0.33em;
  color: var(--dark1);
}

.hero__p {
  color: var(--dark2);
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
}

.btn {
  border: 4px solid var(--orange);
  border-radius: 100px;
  font-weight: 600;
  font-size: 20px;
  background-color: var(--light1);
  color: var(--dark1);
  padding: 1.1em 2.75em;
  margin-top: 1em;
}

.hero__img {
  background-image: url("../assets/graphic.png");
  height: 710px;
  width: 97%;
}
/* /Hero ======================================== */

/* Upsell section ================================ */

.upsell-section {
  padding-bottom: 7.5rem;
}

.us__img {
  background-image: url("../assets/background.svg");
  height: 320px;
  position: relative;
}

.us__text {
  position: absolute;
  top: 40%;
  left: 5%;
}

.us__heading {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5em;
  margin-bottom: 0;
  color: var(--dark1);
}

.us__p {
  font-size: 20px;
  color: var(--dark1);
}

/* /Upsell section =============================== */

/* Companies section =============================== */

.companies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 7.5rem;
  align-items: baseline;
}

/* /Companies section ============================== */

/* Showcase section ================================= */

.showcase__heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  color: var(--dark1);
}

.showcase__p {
  line-height: 1.87rem;
  font-size: 20px;
  font-weight: 300;
  color: var(--dark2);
  margin-bottom: 0;
}

.showcase__p--a {
  text-decoration: underline;
  font-weight: normal;
}

.showcase__card {
  display: flex;
  flex-direction: column;
  width: 290px;
  /* width: 18.125rem; */
}

.showcase__card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--light2);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 24px 0;
}

.showcase__card-info p {
  margin-bottom: 0;
}

.showcase__card-info-bid {
  text-align: right;
}

.showcase__card-info-user p {
  padding-left: 24px;
}

.showcase__card-info-bid p {
  padding-right: 24px;
}

.showcase__card-icon {
  width: 135px;
  background-image: url("../assets/eth.svg");
  background-repeat: no-repeat;
  background-position: left top;
  text-align: right;
  padding-right: 24px;
}

.showcase__card-info-user p:nth-child(1) {
  font-size: 12px;
  color: var(--orange);
  text-transform: uppercase;
  padding-bottom: 12px;
  line-height: 12px;
}

.showcase__card-info-user p:nth-child(2) {
  font-size: 20px;
  color: var(--dark1);
  padding-bottom: 12px;
  line-height: 20px;
}

.showcase__card-info-user p:nth-child(3) {
  font-size: 18px;
  color: var(--dark3);
  font-weight: 300;
  line-height: 18px;
}

.showcase__card-info-bid p:nth-child(1) {
  font-size: 12px;
  color: var(--dark3);
  text-transform: uppercase;
  padding-bottom: 12px;
  line-height: 12px;
}

.showcase__card-info-bid div:nth-child(2) {
  font-size: 20px;
  color: var(--dark1);
  padding-bottom: 12px;
  line-height: 20px;
}

.showcase__card-info-bid p:nth-child(3) {
  font-size: 18px;
  color: var(--dark3);
  font-weight: 300;
  line-height: 18px;
}

/* /Showcase section ================================ */
